<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/0dbb6b0e47.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/css/about.css">

  <!-- Favicons -->
  <link href="assets/img/favicon.svg" rel="icon">

  <title>Profile Portal</title>
</head>
  <body>
    <header id="home" class="hero-area">
      <div class="overlay">
        <span></span>
        <span></span>
      </div>
      <div class="Header">
        <nav class="navbar navbar-expand-md fixed-top">
          <div class="container">
            <a class="d-flex navbar-brand" href="#"><i class="fab fa-product-hunt fa-3x"></i><span class="align-self-center">Profile Portal</span></a>
            <input class="menu-btn navbar-toggler" id="menu-btn" type="checkbox" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <% if(user){ %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <!--  <i class="fas fa-user-circle fa-2x"></i> -->
                  Profile
                </a>
                <ul class="dropdown-menu arrow" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="editprofile">Edit Profile</a></li>
                  <li><a class="dropdown-item" href="logout">Logout</a></li>
                </ul>
              </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link active" href="about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
   </header>

   <section id="about">
     <div class="container">
       <div class="row">
         <div class="col-12">
           <div class="section-heading text-center">
             <h2>Our Team</h2>
           </div>
         </div>
       </div>
       <div class="row justify-content-center">
         <div class="col-md-6 col-lg-4">
           <div class="team-content-area text-center">
             <div class="member-thumb">
               <img src="/images/nikhil.jpg" alt="">
             </div>
             <h5>Nikhil Mandhani</h5>
             <span>Web Nominee</span>
             <div class="member-social-info">
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
               <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
         <div class="col-md-6 col-lg-4">
           <div class="team-content-area text-center">
             <div class="member-thumb">
               <img src="/images/adarshpankaj.jpeg" alt="">
             </div>
             <h5>Adarsh Pankaj</h5>
             <span>Institue Cultural Nominee</span>
             <div class="member-social-info">
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
               <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
         <div class="team-content-area text-center">
          <div class="member-thumb">
           <img src="/images/aaditya.jpg" alt="">
          </div>
          <h5>Aaditya Sulakhe</h5>
          <span>Web Convenor</span>
          <div class="member-social-info">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
           <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
         </div>
        </div>
        <div class="col-md-6 col-lg-4">
         <div class="team-content-area text-center">
          <div class="member-thumb">
           <img src="/images/about.png" alt="">
          </div>
          <h5>Ayush Jain</h5>
          <span>Web Convenor</span>
          <div class="member-social-info">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
           <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
         </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
         <div class="team-content-area text-center">
          <div class="member-thumb">
           <img src="/images/aneeshkamat.jpg" alt="">
          </div>
          <h5>Aneesh Kamat</h5>
          <span>por</span>
          <div class="member-social-info">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
           <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
         </div>
        </div>
        <div class="col-md-6 col-lg-4">
         <div class="team-content-area text-center">
          <div class="member-thumb">
           <img src="/images/adarshmathai.jpg" alt="">
          </div>
          <h5>Adarsh Mathai</h5>
          <span>POR</span>
          <div class="member-social-info">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
           <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
         </div>
        </div>
       </div>
     </div>
   </section>

   <footer class="site-footer">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-sm-6 col-xs-12">
           <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by Cultural Council IITB .</p>
         </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
           <ul class="social-icons">
             <li><a class="facebook" href="https://www.facebook.com/IITBCult/"><i class="fa fa-facebook"></i></a></li>
             <li><a class="instagram" href="https://www.instagram.com/culturals.iitb/"><i class="fa fa-instagram"></i></a></li>
             <li><a class="linkedin" href="https://www.linkedin.com/company/culturals-iit-bombay/"><i class="fa fa-linkedin"></i></a></li>
           </ul>
         </div>
       </div>
     </div>
   </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384- MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
