<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0dbb6b0e47.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <!-- Favicons -->
    <link href="assets/img/favicon.svg" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/slick-free-lite/css/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Reset Password | Profile Portal</title>
</head>
<body>
<header id="home" class="hero-area">
      <nav class="navbar navbar-expand-md fixed-top scrolling-navbar menu-bg">
        <div class="container">
          <a class="d-flex navbar-brand" href="#"><i class="fab fa-product-hunt fa-3x"></i><span class="align-self-center">Profile Portal</span></a>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="about">About</a>
              </li>
            </ul>
          </div> -->
        </div>
      </nav>
    </header>
    <!-- Header Section End -->

    <div class="content my-5" >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
              <div class="card">
                <div class="card-body p-4">
                  <div class="text-center mb-4">
                    <h4 class="mt-0"> Reset Password </h4>
                  </div>
                  <form>
                    <div class="mb-3">
                      <div class="" >
                        <div class="form-group">
                          <label class="form-label">Email</label>
                          <input type="email" name="email" class="form-control" value='<%=email %>' disabled>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="">
                        <div class="form-group">
                          <label class="form-label"> Password </label>
                          <input type="password" name="password" minlength="5" class="form-control" placeholder="Password" required>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="">
                        <div class="form-group">
                          <label class="form-label"> Re-Password </label>
                          <input type="password" name="repassword" minlength="5" class="form-control" placeholder="Re-enter Password" required>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="">
                        <div class="d-grid mx-auto">
                          <button type="submit" class="btn btn-info"> Update Password </button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="">
                    <div class="">
                      <div class="errors text-center">

                      </div>
                    </div>
                  </div>
                </div>
              </div>  <!-- end card -->
            </div>
          </div>
        </div>
      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script type="text/javascript">
      const form = document.querySelector('form');
      const displayError = document.querySelector('.errors');
      // form.submitter.disabled = true;

      form.addEventListener('submit', async (e) => {
        displayError.textContent = '';
        e.preventDefault();
        e.submitter.disabled = true;

        const email = form.email.value;
        const password = form.password.value;
        const repassword = form.repassword.value;

        if (password === repassword) {
          try {
            const res = await fetch('/resetPassword', {
              method: 'POST',
              body: JSON.stringify({ email, password }),
              headers: {'Content-type': 'application/json'}
            });

            const data = await res.json();
            console.log(data);
            if(data.msg){
              e.submitter.disabled = true;
              displayError.style.display = "block";
              displayError.style.color = '#270';
              displayError.style.backgroundColor = '#DFF2BF';
              displayError.textContent = data.msg;
              setTimeout(() => location.assign('/login'), 5000);
            }
            if (data.user) {
              location.assign('/');
            }
          }
          catch (err) {
             console.log(err);
          }
        }
        else {
          alert('passwords dont match !');
          e.submitter.disabled = false;
        }

      });
    </script>
</body>
</html>
