/*-------------------------------- Navbar Style ----------------------------------------*/

.navbar{ 
background: #5533ff;
background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
padding: 5px;
}

.navbar-nav .nav-link{
color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
color: #fff !important;
}

.navbar-nav .active {
color: #ffffff !important;
}

.navbar-expand-md .navbar-nav .nav-link, .dropdown-menu {
 color: #fff;
 font-size: 16px;
 padding: 8px 0px;
 margin-left: 26px;
 position: relative;
 font-weight: 500;
}

.dropdown-menu{
padding: 0px;
border: 0px;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
 }

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-brand {
  color: #fff;
 }

.navbar-expand-md .navbar-toggler {
   background: transparent;
   border: hidden;
   border-radius: 0px;
   margin: 0;
   padding: 5px;
   cursor: pointer;
   float: right;
}

.navbar-expand-md .navbar-toggler i {
   color: #fff !important;
}

.navbar-expand-md .navbar-toggler:focus {
   outline: none;
   box-shadow: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item {
padding: 7px 10px;
transition: all 0.3s ease-in-out;
}

.dropdown-menu .dropdown-item:hover {
border-left: solid 4px #5FB0E4;
}

.form-control:focus {
box-shadow: none;
}

.hero-area {
position: relative;
}

.hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #5533ff;
  background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  z-index: -12;
}

.hero-area .overlay :nth-child(1) {
width: 33.33333%;
width: calc(100% / 2);
top: 0;
left: 16.66666%;
left: calc(calc(100% / 3) / 2);
right: auto;
background: #5533ff;
background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
height: 0px;
}

.hero-area .overlay :nth-chil(2) {
width: 33.33333%;
width: calc(100% /3);
bottom: 0;
background: #5533ff;
background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
position: absolute;
height: 135px;
left: 3%;
 }

.hero-area .contents {
padding: 220px 0;
}

.hero-area .contents h2 {
color: #fff;
font-size: 38px;
font-weight: 600;
line-height: 60px;
margin-bottom: 20px;
}

.hero-area .contents p {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
 }

.hero-area .intro-img {
padding: 120px 0 0px;
}

.hero-area .intro-img img {
display: block;
height: auto;
max-width: 100%;
}

/*------------------------------------Hamburger animation ------------------------------------ */

.menu-icon {
cursor: pointer;
display: inline-block;
float: right;
padding: 5px;
position: relative;
user-select: none;
}

.menu-icon .navicon {
background: #f8f9fa;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 22px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
background: #f8f9fa;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.menu-icon .navicon:before {
top: 5px;
}

.menu-icon .navicon:after {
top: -5px;
}

/* menu btn */

.menu-btn {
  width: 22px;
  height: 22px;
  display: none;
}

.menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}
@media (min-width: 768px) {
  .menu-icon {
  display: none;
  }
 }

/*------------------------------------ Scroll Bar Styling ---------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#about{
  padding: 80px 0px 0 0;
  background-color: #ffffff;
  margin-top: 45px;
  margin-bottom: 30px;
}

.section-heading h2 {
    font-size: 36px;
    text-transform: capitalize;
    display: block;
    line-height: 1.2;
    margin-bottom: 25px;
}

.team-content-area{
  transition: all .5s ease;
  z-index: 1;
  padding: 40px;
  box-shadow: 0 4px 20px 3px rgb(0 0 0 / 10%);
  border-radius: 10px;
  color: #000000;
  background-color: #fff;
  margin-bottom: 20px;
}
.team-content-area:hover{
  color: #ffffff;
  background-color: #31a1de;
}
.team-content-area:hover span{
  color: #fff;
}
.team-content-area:hover .member-social-info a{
  color: #fff;
}

.member-thumb{
  margin: 0 auto 20px;
  width: 195px;
}
.member-thumb img{
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
}
.team-content-area h5{
 font-size: 20px;
 font-weight: 500;
 margin-bottom: 0;
}
.team-content-area span{
  color: #31a1de;
  font-size: 13px;
  text-transform: uppercase;
}
.team-content-area .member-social-info {
    position: relative;
    z-index: 1;
    margin-top: 30px;
}
.team-content-area .member-social-info a {
    color: #636363;
    font-size: 16px;
    margin: 0 10px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

/* ---------------------------- Footer --------------------------------------------*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  color: #ffffff;
}

.site-footer a
{
  color:#737373;
  color: #ffffff;
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align:right;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}
.copyright-text
{
  margin:0;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons a.instagram:hover
{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;
  }
}
